$primary-color: #8f2b1b;
$secondary-color: #fff;
$dark-color: #000;
$text-color: #000;
$alternate-color: #464646;
$alternate-color-bright: #e2e2e2;
$error-color: #dd0000;

$box-color: #3c464f;
$beige-color: #FDF5E4;

$font-headline: 'Roboto',sans-serif;;
$font-text: 'Roboto',sans-serif;

$font-header-background: 'font-checken';

$font-weight-default: 400;
$font-weight-light-bold: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;


// MenuBreakpoints
$mobileBreakpointMax: '1425px';
$mobileBreakpointMin: '1426px';